@font-face {
    font-family: Radioz;
    src: url(./Fonts/Radioz.ttf);
}

.aboutus {
    background-color: #12408e;
    margin: 2% 10% 2% 10%;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.aboutus p {
    color: #ffffff;
}

.sobrenos-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre1 h2{
    margin: 1.5%;
    
}

.sobre1 img{
    transition: transform 0.7s;
    cursor: pointer;
}

.sobre1 img:hover{
    transform: scale(1.20);
}

.sobre1 h2,
.sobrenos-text h2 {
    text-align: center;
    font-family: Radioz;
    font-size: 4em;
    font-weight: 100;
    color: #2bb82d;
}

.membro {
    width: 80%;
    margin: 3%;
    display: flex;
    align-items: center;
}

.sobrenos-text {
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
}

.sobrenos-text p {
    text-align: justify;
    line-height: 23px;
}
.sobre1 {
    margin: 7% 0% 0% 0%;
}

.sobre1 img {
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

.sobre1 p {
    font-size: 1.2em;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    border-left: black solid 2px;
    border-right: black solid 2px;
    border-image: linear-gradient(90deg, rgba(18,64,142,1) 0%, rgba(80,179,82,1) 51%, rgba(28,113,29,1) 100%)1;
    text-align: justify;
}

.sobrenos-text p{
    font-size: 1.2em;
}

.julia, .kai, .thomas {
    background-color: #1627388c;
    padding: 7px 19px 7px 7px;
    border-radius: 5px;
}

.maria, .igor, .meirelles {
    background-color: #3b7ab857;
    padding: 7px 19px 7px 7px;
    border-radius: 5px;
}


.membro img {
    height: 130px;
    border-radius: 7px;
}

.contatos-h2{
    font-family: Radioz;
    font-size: 5em;
    font-weight: 100;
}


/*-------------------------------contatos---------------------*/

.redes, .redes2{

    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    
}

.card-redes{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 23%;
    margin: 2%;

}

h2 {
    font-size: 30px;
    color: #13aa2c;
}

.card-redes h3 {
    font-size: 20px;
    color: #ffffff;
    text-decoration: #13aa2c underline;
}

.impar {
    background-color: #2169e4;
    padding:20px;
    color: aliceblue;
}

.par {
    background-color: #3f78db;
    padding: 20px;
    color: aliceblue;
}

.card-redes a {
    text-decoration: none;
    color: aliceblue;
}

.card-redes a:hover {
    text-decoration: none;
    color: #0436a3;
}




/* ---------- MODO ESCURO ---------- */

.dark-mode {
    background-color: #162738;

}

.dark-mode header {
    background-color: #101922;
}

.dark-mode .aboutus {
    background-color: #101922;
}

/* ---------- FIM DO MODO ESCURO ---------- */

/* ---------- RESPONSIVIDADE ---------- */

@media (max-width:480px){
    .membro{ 
        width: 100%;
        flex-direction: column;
    }

    .sobre1{
        margin-top: 20%;
    }

    .sobre1 p{
        text-align: center;
    }

    .sobrenos-text p{
        text-align: center;
    }

    .aboutus{
        margin: 2% 3%;
    }

    .sobrenos-text p{
        font-size: 1.2em;
    }

    .sobre1 img{
        width: 80%;
        height: auto;
        margin-bottom: 4%;
    }

    .redes, .redes2{
        flex-direction: column;
        margin: 0;
        padding: 5%;
    }   

    .card-redes{
        width: 100%;
    }
}
